@import url("https://fonts.google.com/specimen/Overpass");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
body {
  background-color: hsl(216, 12%, 8%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  text-align: center;
  font-family: "Overpass", sans-serif;
  background-color: hsl(213, 19%, 18%);
  padding: 1.5rem;
  width: 20rem;
  border-radius: 5%;
  color: white;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.container img {
  display: block;
  margin: 1.5rem auto;
}
.container span {
  padding: 0.5rem;
  color: hsl(25, 97%, 53%);
  border-radius: 1rem;
  background-color: hsl(213, 19%, 18%);
  box-shadow: rgba(29, 29, 29, 0.25) 0px 30px 60px -12px inset,
    rgba(35, 34, 34, 0.3) 0px 18px 36px -18px inset;
}
.container h1 {
  margin: 1rem 0;
  font-weight: 400;
}
.container p {
  color: hsl(217, 12%, 63%);
  margin-bottom: 0.8rem;
  line-height: 1.5rem;
}
@media (min-width: 700px) {
  .container {
    width: 25rem;
    padding: 2rem;
  }
}
